body {
    background-color: #EFF2FF;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.logo {
    border-radius: 100%;   
    margin-top: 0;
  
}

#title{
    color: #505050;;
}

#title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.subtitle{
    margin-left: 15px;
    color: #6F787C
}

a {
    color: #505050;
    text-decoration-line: none;
}

.post_title{
    color: #6F787C;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post{
    background-color: #EFF2FF;
    padding: 15px;
    margin-bottom: 15px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list{
list-style-type: none;
padding-left:15px;

}

.contacts_list li a {
    text-decoration: none;
}
